<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="mo3dModelPanel">
		<size>240,303</size>
		<bg>#000000</bg>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxTextCtrl" name="ID_TEXTCTRL3DMODEL" variable="TextCtrl3dModel" member="yes">
			<pos>88,48</pos>
			<size>144,21</size>
		</object>
		<object class="wxButton" name="ID_BUTTONIMPORT" variable="ButtonImport" member="yes">
			<label>Import</label>
			<pos>88,8</pos>
		</object>
		<object class="wxPanel" name="ID_PANEL3DMODEL" variable="Panel3dModel" member="yes">
			<pos>0,8</pos>
			<size>80,64</size>
			<bg>#0000FF</bg>
		</object>
		<object class="wxListCtrl" name="ID_LISTCTRL3DMODEL" variable="ListCtrl3dModel" member="yes">
			<pos>0,80</pos>
			<size>232,200</size>
		</object>
	</object>
</wxsmith>
