<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="moPreviewFrame">
		<title>Moldeo output</title>
		<size>400,300</size>
		<fg>#FFFFFF</fg>
		<bg>#000000</bg>
		<id_arg>0</id_arg>
		<style>wxNO_BORDER</style>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<object class="wxToolBar" name="ID_TOOLBAR1" variable="ToolBar1" member="yes">
			<bitmapsize>32,32</bitmapsize>
			<object class="tool" name="TOOLPLAY" variable="ToolBarItem1" member="yes">
				<label>Play</label>
				<bitmap>../../data/icons/play32.png</bitmap>
				<bitmap2>../../data/icons/play32dis.png</bitmap2>
				<tooltip>Play syncro</tooltip>
				<longhelp>Help text</longhelp>
			</object>
			<object class="tool" name="TOOLPAUSE" variable="ToolBarItem2" member="yes">
				<label>Pause</label>
				<bitmap>../../data/icons/pause32.png</bitmap>
				<bitmap2>..\..\data\icons\pause32.png</bitmap2>
				<tooltip>Pause</tooltip>
				<longhelp>Pause</longhelp>
			</object>
			<object class="tool" name="TOOLFULLSCREEN" variable="ToolBarItem3" member="yes">
				<label>Fullscreen</label>
				<bitmap>../../data/icons/onofficon32.png</bitmap>
				<tooltip>Fullscreen</tooltip>
				<longhelp>Fullscreen</longhelp>
			</object>
		</object>
	</object>
</wxsmith>
