[submodule "libmoldeo"]
	path = libmoldeo
	url = https://www.github.com/moldeo/libmoldeo.git
[submodule "moldeoplugins"]
	path = moldeoplugins
	url = https://www.github.com/moldeo/moldeoplugins.git
[submodule "libwxmoldeocontrols"]
	path = libwxmoldeocontrols
	url = https://www.github.com/moldeo/libwxmoldeocontrols.git
