<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="moPreviewWindow">
		<size>401,336</size>
		<fg>#FFFFFF</fg>
		<bg>#000000</bg>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxBitmapButton" name="ID_BITMAPBUTTONPLAY" variable="BitmapButtonPlay" member="yes">
			<bitmap>../../data/icons/play32.png</bitmap>
			<default>1</default>
			<pos>0,300</pos>
			<size>32,32</size>
			<tooltip>Play</tooltip>
			<help>Play</help>
			<handler function="OnBitmapButtonPlayClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxBitmapButton" name="ID_BITMAPBUTTONPAUSE" variable="BitmapButtonPause" member="yes">
			<bitmap>../../data/icons/pause32.png</bitmap>
			<default>1</default>
			<pos>32,300</pos>
			<size>32,32</size>
			<tooltip>Pause</tooltip>
			<help>Pause</help>
			<handler function="OnBitmapButtonPauseClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxBitmapButton" name="ID_BITMAPBUTTONFULLSCREEN" variable="ButtonFullSCreen" member="yes">
			<bitmap>../../data/icons/fullscreen32.png</bitmap>
			<default>1</default>
			<pos>272,300</pos>
			<size>32,32</size>
			<tooltip>Fullscreen</tooltip>
			<help>Fullscreen</help>
			<handler function="OnButtonFullSCreenClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxBitmapButton" name="ID_BITMAPBUTTONSCREENSHOT" variable="BitmapButtonScreenshot" member="yes">
			<bitmap>../../data/icons/screenshot32.png</bitmap>
			<default>1</default>
			<pos>312,300</pos>
			<size>32,32</size>
			<tooltip>Output - Focus</tooltip>
			<help>Output - Focus</help>
			<handler function="OnBitmapButtonFocusAndActivate" entry="EVT_BUTTON" />
		</object>
		<object class="wxBitmapButton" name="ID_BITMAPBUTTONSAVEVIDEO" variable="BitmapButtonSaveVideo" member="yes">
			<bitmap>../../data/icons/savevideo32.png</bitmap>
			<default>1</default>
			<pos>344,300</pos>
			<size>32,32</size>
			<tooltip>Movie</tooltip>
			<help>Movie</help>
			<handler function="OnBitmapButtonSaveVideoClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxBitmapButton" name="ID_BITMAPBUTTONSAVESESSION" variable="BitmapButtonSaveSession" member="yes">
			<bitmap>../../data/icons/savesession32.png</bitmap>
			<pos>64,300</pos>
			<size>32,32</size>
			<tooltip>Record</tooltip>
			<help>Record</help>
			<handler function="OnBitmapButtonSaveSessionClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxBitmapButton" name="ID_BITMAPBUTTONSTOP" variable="BitmapButtonStop" member="yes">
			<bitmap>../../data/icons/stop32.png</bitmap>
			<default>1</default>
			<pos>96,300</pos>
			<size>32,32</size>
			<tooltip>Stop</tooltip>
			<help>Stop</help>
			<handler function="OnBitmapButtonStopClick" entry="EVT_BUTTON" />
		</object>
	</object>
</wxsmith>
